/*
Layout
 */
$sidebar-width: 300px;
$content-max-width: 800px;


/*
Sidebar
 */
$sidebar-bg-color: #343131;
$sidebar-color: #d9d9d9;
$sidebar-section-header-color: #3a7ca8;
$sidebar-link-hover-bg: #4e4a4a;


/*
Inline markup
 */
$code-color: #E74C3C;
$code-border-color: #e1e4e5;


/*
Tables
 */
$table-border-color: #e1e4e5;


/*
Org elements
 */
$org-timestamp-active-color: #2980B9;
$org-timestamp-inactive-color: #666;

$org-error-font-color: red;
