/*
Layout
 */
$sidebar-width: 300px;
$content-max-width: 800px;

/*
Sidebar
 */
$sidebar-bg-color: #343131;
$sidebar-color: #d9d9d9;
$sidebar-section-header-color: #3a7ca8;
$sidebar-link-hover-bg: #4e4a4a;


//$org-error-font-color: $danger;
