

/*
Inline markup
 */

code {
  white-space: nowrap;
  max-width: 100%;
  color: $code-color;
  padding: 2px 5px;
  background: #fff;
  font-size: 75%;
  border: solid 1px $code-border-color;
  font-family: Consolas,"Lucida Console",Monaco,"Courier New",Courier,monospace;
}


/*
Block tags
 */

p{
  font-size:16px;
  line-height:24px;
  margin:0px 0px 24px 0px;
}


/*
Links
 */

a {
  color: #2980B9;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: #9B59B6;
  }
}


/*
Headings
 */

h1,h2,h3,h4,h5,h6,legend{
  font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
  font-weight:700;
  margin-top:0;
}

h1{
  font-size:175%;
}

.subtitle{
  font-size:95%; /* of h1 */
}

h2{
  font-size:150%;
}

h3{
  font-size:125%;
}

h4{
  font-size:115%;
}

h5{
  font-size:110%;
}

h6{
  font-size:100%;
}

h4,h5,h6{
  color:#2980B9;
  font-weight:300;
}


/*
Lists
 */

dl > dt {
  font-weight: bold;
}


/*
Misc
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e4e5;
  margin: 24px 0;
  padding: 0;
}
