/*
Sidebar / side menu
 */
.sidebar {
  //overflow-x: hidden;
  //overflow-y: scroll;

  background: $sidebar-bg-color;
  color: $sidebar-color;

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }

  .sidebar-icon {
    background: #2980B9;
    color: #fcfcfc;
    text-align: center;

    padding: .8em;
  }

  .sidebar-menu {
    h2.sidebar-menu-section {
      margin: 12px 0 0 0;
      height: 32px;
      line-height: 32px;
      padding: 0 1.618em;

      color: $sidebar-section-header-color;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 85%;
      white-space: nowrap;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    // List items
    li {
      list-style: none;

      // Nested lists hidden by default
      ul {
        display: none;
      }

      a {
        line-height: 18px;
        padding: .4em 1.5em;
        display: block;
        //position: relative;
        font-size: 90%;

        &:hover {
          background-color: $sidebar-link-hover-bg;
          cursor: pointer;
        }

        & > .toctree-expand {
          display: block;
          float: left;
          margin-left: -1.2em;

          &::before {
            content: "+";
            font-size: 80%;
          }
        }
      }
    }

    // Active list items
    li.active {

      & > a {
        color: #404040;
        background: #fcfcfc;
        font-weight: bold;
      }

      a:hover {
        background: #d6d6d6;
      }

      // Show nested lists
      & > ul {
        display: block;
      }
    }

    // Nested
    li ul li {
      color: #404040;
    }

    // Level one
    li.toctree-l1 {
      &.active {
        background: #e3e3e3;
        & > a {
          border-bottom: solid 1px #c9c9c9;
          border-top: solid 1px #c9c9c9;
        }
      }
    }

    // Level two
    li.toctree-l2 {
      & > a {
        padding-left: 2.5em;
      }

      &.active > a{
        background: #c9c9c9;
      }
    }

    // Level three
    li.toctree-l3 {
      font-size: 90%;

      & > a {
        padding-left: 3.5em;
        background: #c9c9c9;
      }

      &.active > a{
      }
    }

    li.toctree-l4 {
      & > a {
        padding-left: 4.5em;
      }
    }

    li.toctree-l5 {
      & > a {
        padding-left: 5.5em;
      }
    }

    // Collapsible menu list item
    li.menu-collapse.expanded {
      @extend li.active;
    }
  }

}
