

%rtd-table {
  margin-bottom: 24px;

  border: 1px solid $table-border-color;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;

    th {
      font-weight: bold;
      border-bottom-width: 2px;
    }
  }

  th, td {
    font-size: 90%;
    margin: 0;
    overflow: visible;
    padding: 8px 16px;

    border-bottom: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
  }

  tbody {
    tr:nth-child(even) {
      td, th {
        background-color: #f3f6f6;
      }
    }
  }
}