{# App home page #}

{% extends 'base.html.j2' %}

{% set page_title = 'Home' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
				<h1>Welcome to pyorg.app!</h1>
            </div>
        </div>
    </div>
    
{% endblock content %}