{#  Displays exported .org file #}

{% extends 'base.html.j2' %}

{% block content %}
    <div class="container">
		<div class="row">
			<div class="col org-content">
				{{ file_content }}
            </div>
        </div>
    </div>
{% endblock content %}
