{#  Displays exported .org file #}

{% extends 'base.html.j2' %}

{% set page_title = dirname %}
{% set depth = parents | length %}

{% block content %}
    <div class="container">

        <nav><ol class="breadcrumb">
            {% for parent in parents | list %}
                <li class="breadcrumb-item">
                    <a href="./{{ '../' * (depth - loop.index0) }}">{{ parent }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ dirname }}</li>
        </ol></nav>

		<div class="row justify-content-center">
			<div class="col-lg-8">
                <div class="pyorg-dirindex">
                    <div class="list-group-item"><h2>{{ dirname }}/</h2></div>
                    {% for dirname in dirs | sort %}
						<a class="directory" href="{{ dirname }}/">{{ dirname }}/</a>
                    {% endfor %}
                    {% for filename in files | sort %}
                        <a class="file" href="{{ filename }}">{{ filename }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
