{#  Displays exported .org file #}

{% extends 'rtd_base.html.j2' %}

{% set page_title = dirname %}
{% set depth = parents | length %}

{% block content %}
    <div class="container">

        {# Breadcrumbs #}
        <div><ul class="wy-breadcrumbs">
            {% for parent in parents | list %}
                <li>
                    <a href="./{{ '../' * (depth - loop.index0) }}">{{ parent }}</a>
                    »
                </li>
            {% endfor %}
            <li>{{ dirname }}</li>
            <hr/>
        </ul></div>

        <h2>{{ dirname }}/</h2>

		<ul class="pyorg-dirindex">
			{% for dirname in dirs | sort %}
                <li class="directory"><a href="{{ dirname }}/">{{ dirname }}/</a></li>
			{% endfor %}
			{% for filename in files | sort %}
				<li class="file"><a href="{{ filename }}">{{ filename }}</a></li>
			{% endfor %}
		</ul>

    </div>
{% endblock content %}
