{% macro render_org_ast_node(node, depth=0) %}
    <div class="org-ast-node depth-{{ depth % 2 }}">

        <h2 class="org-ast-node-type">{{ node.type }}</h2>

		<div class="org-ast-properties">
            {{ render_org_ast_properties(node.props) }}
        </div>

        {% if node.keywords %}
            <div class="org-ast-properties">
                {{ render_org_ast_properties(node.keywords) }}
            </div>
        {% endif %}

        <div class="org-ast-node-contents">
            {% for item in node.contents %}
                {% if item is orgnode %}
                    {{ render_org_ast_node(item, depth=depth+1) }}
                {% else %}
                    <div class="org-ast-other">
						{{ '%r' | format(item) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    
    </div>
{% endmacro %}


{% macro render_org_ast_properties(property_dict) %}
	{% for key in property-dict %}
		<div class="org-ast-property-pair">
			<div class="org-ast-property-key">{{ key }}</div>
			<div class="org-ast-property-value">
				{% set value = property-dict[key] %}
				{% if value is orgnode %}
					{{ render_org_ast_node(value) }}
				{% else %}
					{{ '%r' | format(value) }}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endmacro %}