{#  Displays exported .org file #}
{% from 'macros.html.j2' import render_org_ast_node %}

{% extends 'rtd_base.html.j2' %}

{% set page_title = file_name %}
{% set depth = parents | length %}

{% block content %}

	{# Breadcrumbs #}
	<div><ul class="wy-breadcrumbs">
		{% for dirname in ['root'] + (parents | list) %}
			<li>
				<a href="./{{ '../' * (depth - loop.index0) }}">{{ dirname }}</a>
                »
			</li>
		{% endfor %}
		<li>{{ file_name }}</li>
		<hr/>
	</ul></div>

	{# Title #}
	<h1>{{ file_title | capitalize }}</h1>

	{# File content #}
	<div class="org-content">
		{{ file_content }}
	</div>

{#    <pre class="literal-block" style="margin-top: 50px;">{{ source_json }}</pre>#}
    {{ render_org_ast_node(ast) }}

{% endblock content %}

{% block toc %}
    {{ super() }}

    <p class="caption"><span class="caption-text">Document</span></p>
    <ul>
    {% for i in range(5) %}
        <li><a href="#">Header {{ i+1 }}</a></li>
    {% endfor %}
    </ul>
{% endblock toc %}
