{#  Displays exported .org file #}
{% from 'macros.html.j2' import render_org_ast_node, sidebar_toc_list %}

{% extends 'rtd_base.html.j2' %}

{% set page_title = file_name %}
{% set depth = parents | length %}


{% block head %}
{{ super() }}

<script type="text/javascript">
    // Enable scrollspy
	$( document ).ready(function() {
		$('body').scrollspy({target: '#file-toc'});
	});
</script>
{% endblock head %}


{% block content %}

	{# Breadcrumbs #}
	<div>
        <ul class="breadcrumbs">
			{% for dirname in ['root'] + (parents | list) %}
				<li>
					<a href="./{{ '../' * (depth - loop.index0) }}">{{ dirname }}</a>
				</li>
			{% endfor %}
			<li>{{ file_name }}</li>
		</ul>
		<hr/>
	</div>

	{# Title #}
	<h1>{{ file_title | capitalize }}</h1>

	{# File content #}
	<div class="org-content">
		{{ file_content }}
	</div>

{#    <pre class="literal-block" style="margin-top: 50px;">{{ source_json }}</pre>#}
    {{ render_org_ast_node(ast) }}

{% endblock content %}


{% block toc %}
    {{ super() }}

    <h2 class="sidebar-menu-section">Document</h2>
    <div id="file-toc">
    {{ sidebar_toc_list(toc) }}
    </div>
{% endblock toc %}
