{# Base template for RTD theme layout -#}


{% extends 'base.html.j2' %}

{% set body_attrs = 'class="wy-body-for-nav"' %}

{% block body_content %}

    <div class="wy-grid-for-nav">
        {# Side nav #}
		<nav class="wy-nav-side">
			{% block sidebar %}
                <div class="wy-side-nav-search">
					<a class="icon icon-home" href="{{  url_for('home') }}">pyorg</a>
                </div>

                <div class="wy-menu wy-menu-vertical">
                    {% block toc %}

                        {# Top-level links #}
                        <p class="caption"><span class="caption-text">pyorg</span></p>
                        <ul>
                            <li><a href="{{ url_for('pyorg.viewfile') }}">Org directory</a></li>
                            <li><a href="{{ url_for('pyorg.agenda') }}">Agenda</a></li>

							{# Favorite files #}
							{% if favorite_files %}
							<li class="toctree-l1 menu-collapse">
								<a class="reference" href="#">
									<span class="toctree-expand"></span>
									Favorites
								</a>
								<ul>
									{% for file in favorite_files %}
									<li class="toctree-l2">
										<a class="reference" href="{{ url_for('pyorg.viewfile', path=file) }}">{{ file }}</a>
									</li>
									{% endfor %}
								</ul>
                            </li>
                            {% endif %}
						</ul>

                    {% endblock toc %}
                </div>
            {% endblock sidebar %}
		</nav>

        {# Main body #}
		<section class="wy-nav-content-wrap">
			<div class="wy-nav-content">
				{% block content %}{% endblock content %}
			</div>
		</section>
    </div>

{% endblock body_content %}
