{# Base template for RTD theme layout -#}


{% extends 'base.html.j2' %}

{% block body_content %}

	{# Side nav #}
	<nav class="sidebar">
		{% block sidebar %}
			<div class="sidebar-icon">
                <h2>
				<a class="icon icon-home" href="{{ url_for('home') }}">pyorg</a>
                </h2>
			</div>

			<div class="sidebar-menu">
				{% block toc %}

					{# Top-level links #}
					<h2 class="sidebar-menu-section">pyorg</h2>
					<ul>
						<li><a href="{{ url_for('pyorg.viewfile') }}">Org directory</a></li>
						<li><a href="{{ url_for('pyorg.agenda') }}">Agenda</a></li>

						{# Favorite files #}
						{% if favorite_files %}
						<li class="toctree-l1 menu-collapse">
							<a href="#">
								<span class="toctree-expand"></span>
								Favorites
							</a>
							<ul>
								{% for file in favorite_files %}
								<li class="toctree-l2">
									<a href="{{ url_for('pyorg.viewfile', path=file) }}">{{ file }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
					</ul>

				{% endblock toc %}
			</div>
		{% endblock sidebar %}
	</nav>

	{# Main body #}
	<section class="content">
		{% block content %}{% endblock content %}
	</section>

{% endblock body_content %}
